* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.705);
}

/* .container {
    padding-top: 2em;
} */

.card {
    width: 17em;
    color: aliceblue;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: 1px 3px 10px 2px rgb(33, 33, 33);
    border-radius: 10px;
    margin-top: 2em;
    margin-inline: auto;

}

.profile-pic {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.detail-section {
    text-align: center;
    margin-top: 1em;
    text-shadow: 0px 1px 1px rgb(59, 57, 57);
}

.job-title {
    font-size: .7em;
    color: rgb(255, 88, 54);
    margin-bottom: .6em;
}

.website {
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.btn-container {
    /* border: 1px solid wheat; */
    margin-inline: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.btn-container > button {
    padding: .3em 1.6em;
    border-radius: 5px;
    font-size: .8em;
    margin-bottom: 2em;
}

.btn-container i {
    margin-right: .6em;
}

.email-btn {
    transition: color .3s;
    transition-delay: .1s;
}

.email-btn:hover {
    color: blueviolet;
    background-color: rgb(204, 201, 201);
}

.linkedIn-btn {
    letter-spacing: .5px;
    color: wheat;
    background-color: rgb(70, 85, 253);
    transition: color .3s;
}

.linkedIn-btn:hover {
    color: blueviolet;
    background-color: rgb(204, 201, 201);
}

.article {
    width: 85%;
    margin-inline: auto;
}

.section-title {
    font-size: 1em;
    margin-bottom: .4em;
}

.section-description {
    letter-spacing: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8em;
    color: rgb(44, 198, 209);
    margin-bottom: 1.4em;
}

.interests-section {
    margin-bottom: 2.5em;
}

.footer {
    background-color: rgb(0, 0, 0);
    font-size: 1.6em;
    padding: .7em;
    border-radius: 0 0 10px 10px;
}

.footer-container {
    width: 60%;
    /* border: 1px solid aqua; */
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.footer-container > i:hover {
    transition: color 1s;
}

.footer-container > i:hover {
    color: blueviolet;
}
